# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
.venv/
venv/
env/

# =========================
# AI / ML Artifacts
# =========================
models/
tb/
*.vec.pkl

# =========================
# Data
# =========================
data/
*.csv

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Environment Variables
# =========================
.env

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Temporary / Cache
# =========================
.cache/
